<section class="advantage">
    <section class="about-one">
        <div class="about-one-wall"><img src="assets/images/advantage/about-one-wall.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="about-one__left">
                        <div class="section-title text-left"><span class="section-title__tagline">关于公司</span>
                            <h2 class="section-title__title">质量服务</h2>
                            <div class="section-title__line"></div>
                        </div>
                        <p class="about-one__text-1">我们拥有 10 多年的经验，可为您提供更优质的结果。</p>

                        <p class="about-one__text-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京远信国际由黄金创建于2015年，凝聚了一批拥有前瞻性理念、国际化视野的活力团队。</p>
                        <p class="about-one__text-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为集室内设计、软装设计、环境设计等一体化的综合性专业设计公司，北京远信国际为众多知名地产商提供至高水准的个性化定制服务。</p>
                        <p class="about-one__text-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以过硬的专业能力和不懈的探索，致力于当代新人居观念的启迪与更新，为设计提供更多可能。</p>
                        <div class="about-one__contact-us">
<!--                            <div class="about-one__btn-box"><a href="#" class="thm-btn about-one__btn">为您提供优质服务</a></div>-->
                            <div class="about-one__call">
                                <div class="about-one__call-icon ti-microphone"><span class="icon-phone-call"></span></div>
                                <div class="about-one__call-text"><p>详情咨询</p><a href="">131 4102 8813</a>
                                </div>
                            </div>

                        </div>
                        <div class="about-one__contact-us">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-one__right">
                        <div class="about-one__img-box wow slideInRight animated" data-wow-delay="100ms"
                             data-wow-duration="2500ms"
                             style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInRight;">
                            <div class="about-one__img"><img src="assets/images/advantage/about-one-img-1.jpg" alt="">
                            </div>
                            <div class="about-one__small-img"><img src="assets/images/advantage/about-one-small-img.jpg"
                                                                   alt=""></div>
                            <div class="about-one__project">
                                <div class="about-one__project-icon ti-medall text-center"><span class="icon-wallpaper-1"></span></div>
                                <div class="about-one__project-content">
                                    <h3 class="odometer odometer-auto-theme" data-count="3690">
                                        <div class="odometer-inside"><span class="odometer-digit"><span
                                                class="odometer-digit-spacer">&nbsp;</span><span
                                                class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                class="odometer-value">&nbsp</span></span></span></span></span><span
                                                class="odometer-formatting-mark">,</span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                class="odometer-value">6</span></span></span></span></span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                                class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                class="odometer-value">9</span></span></span></span></span><span
                                                class="odometer-digit"><span class="odometer-digit-spacer">&nbsp</span><span
                                                class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                class="odometer-value">&nbsp</span></span></span></span></span></div>
                                    </h3>
                                    <p class="about-one__project-text text-center">成功案例</p></div>
                            </div>
                            <div class="about-one__shape-1 float-bob-y"></div>
                            <div class="about-one__dot"><img src="assets/images/advantage/about-one-dots.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</section>
<style>
.about-one__call-text {
    line-height: 0;
}
.about-one__call-text p {
    line-height: 10px;
    margin-top: -5px;
}
.about-one__text-2 {
    /* font-size: 18px; */
    line-height: 34px;
}

.ti-medall {
        font-size: 56px;
        color: var(--ambed-white,#fff);

}
</style>