<!-- hero area -->
<section class="bg-primary" id="parallax">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- 轮播图片 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/backgrounds/bg1.png">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/backgrounds/bg2.png">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/backgrounds/bg3.png">
            </div>
        </div>

<!--        &lt;!&ndash; 左右切换按钮 &ndash;&gt;-->
<!--        <a class="carousel-control-prev" href="#demo" data-slide="prev">-->
<!--            <span class="carousel-control-prev-icon"></span>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" href="#demo" data-slide="next">-->
<!--            <span class="carousel-control-next-icon"></span>-->
<!--        </a>-->
    </div>

    <!-- /social icon -->
</section>
<!-- /hero area -->


<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>