<section class="service">
    <section class="service-one">
        <div class="about-one-wall"><img alt="" src="assets/images/advantage/about-one-wall.png"></div>
        <div class="container">
            <div class="section-title text-center"><span class="section-title__tagline">我们的服务</span>
                <h2 class="section-title__title">服务优势</h2>
                <div class="section-title__line project_line"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <article class="card shadow">
                        <div class="about-one__project-icon ti-user text-center service-icon"></span></div>
                        <div class="card-body">
                            <h4 class=" text-center ">全流程设计，个性化装修
                            </h4>
                            <p class="card-text text-center">
                                线上线下咨询，可免费获取方案及预算。城六区免费量房，交通不便地区收取量房费。量身定制设计，清单式报价，明明白白消费。</p>

                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                     <article class="card shadow">
                        <div class="about-one__project-icon ti-heart text-center service-icon"></span></div>
                        <div class="card-body">
                            <h4 class=" text-center ">工程托管，逐步验收
                            </h4>
                            <p class="card-text text-center">
                                施工全程托管，设计师、工长全程跟踪，保质保时！拆改、水电、瓦工、木工、油工各大节点逐步验收，不合格砸掉重做。</p>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                     <article class="card shadow">
                        <div class="about-one__project-icon ti-image text-center service-icon"></span></div>
                        <div class="card-body">
                            <h4 class=" text-center ">根据方案报价，无增项
                            </h4>
                            <p class="card-text text-center">
                                根据设计落地方案报价，施工过程中不会产生增项，客户被动增项费用由云赫装饰承担。</p>
                        </div>
                    </article>
                </div>


            </div>

        </div>

    </section>


</section>
<style>
    .service-one {
        position: relative;
        display: block;
        padding: 50px 0 15px;
    }

    .service {
        position: relative;
    }

    .service:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("/assets/images/service/bg.jpg");
        opacity: 0.5;
    }

    .service-icon {
        font-size: 86px;
        color: #000000;
    }
</style>